.linha {
	width: 612px;
}

.casa {
	border: solid 2px;
	border-color: black;
	width: 200px;
	height: 200px;
	float: left;
}

body {
	width: 100%;
    height: 400px;
    background-image: url("img/fundo do jogo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

table, th, td {
    border: 1px solid;
    border-color: white;
    color: white;
}